In [17]:
import numpy as np
import pandas as pd

**Pandas series**

definition trough data and idexes

In [11]:
my_series_1 = pd.Series([10, 20, 30, 40, 50], ['a', 'b', 'c', 'd', 'e'])
print("Original Series:")
print(my_series_1)

Original Series:
a    10
b    20
c    30
d    40
e    50
dtype: int64

definition trough a dictionary.

In [9]:
dict_data = {"a": 23, "b": 333, 'x': 100, 'y': 200, 'z': 300}  
my_series_2 = pd.Series(dict_data)
print("Series from dictionary:")
print(my_series_2)

Series from dictionary:
a     23
b    333
x    100
y    200
z    300
dtype: int64

In [12]:
print(my_series_1["a"])
print(my_series_1[0])

10
10

C:\Users\m-rog\AppData\Local\Temp\ipykernel_30288\4245337482.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(my_series_1[0])

In [14]:
my_series_1 + my_series_2 #element wise for the element that can be matvhed by index.

a     33.0
b    353.0
c      NaN
d      NaN
e      NaN
x      NaN
y      NaN
z      NaN
dtype: float64

**Pandas Data Frame**

In [20]:
# Create a dictionary with some different data types as values

my_dict = {"name" : ["Joe","Bob","Frans"],
           "age" : np.array([10,15,20]),
           "weight" : (75,123,239),
           "height" : pd.Series([4.5, 5, 6.1], 
                                index=["Joe","Bob","Frans"]),
           "hair_color" : pd.Series(["brown","black","blonde"], 
                                index=["Joe","Bob","Frans"]),
           "siblings" : 1,
           "gender" : "M"}

df = pd.DataFrame(my_dict)   # Convert the dict to DataFrame

df                           # Show the DataFrame

        name  age  weight  height hair_color  siblings gender
Joe      Joe   10      75     4.5      brown         1      M
Bob      Bob   15     123     5.0      black         1      M
Frans  Frans   20     239     6.1     blonde         1      M

In [22]:
#call a column as in a dictionary
print(df["name"])
#or as an attribute
df.name

Joe        Joe
Bob        Bob
Frans    Frans
Name: name, dtype: object

Joe        Joe
Bob        Bob
Frans    Frans
Name: name, dtype: object

In [ ]:
del df['hair_color']  #delete a column√π
df

In [24]:
#add column
df['new_column'] = pd.Series([1,2], index=["Joe","Bob"])
df

        name  age  weight  height hair_color  siblings gender  new_column
Joe      Joe   10      75     4.5      brown         1      M         1.0
Bob      Bob   15     123     5.0      black         1      M         2.0
Frans  Frans   20     239     6.1     blonde         1      M         NaN

loc per chiamare singolo elemento e fare slicing

In [30]:
df.loc["Joe","age"]

np.int64(10)

In [31]:
df.loc["Joe":"Frans","age":"height"]

       age  weight  height
Joe     10      75     4.5
Bob     15     123     5.0
Frans   20     239     6.1

In [ ]:
df.iloc[0:2, 0:3] #come numPy slicing

    name  age  weight
Joe  Joe   10      75
Bob  Bob   15     123