In [2]:
import numpy as np
import pandas as pd

In [5]:
titanic_train = pd.read_csv("titanic.csv")      # Read the data

char_cabin = titanic_train["Cabin"].astype(str)    # Convert cabin to str

new_Cabin = np.array([cabin[0] for cabin in char_cabin]) # Take first letter

titanic_train["Cabin"] = pd.Categorical(new_Cabin)  # Save the new cabin var

In [23]:
titanic_train.dropna(inplace=True)  # Drop NA values

In [9]:
titanic_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

**Cross Tables (tabelle di contingenza)**

In [10]:
my_tab = pd.crosstab(index = titanic_train["Survived"], columns = "counts")  # Crosstab
my_tab

col_0     counts
Survived
0            549
1            342

In [8]:
my_tab = pd.crosstab(index = titanic_train["Cabin"], columns = "counts")  # Crosstab
my_tab

col_0  counts
Cabin
A          15
B          47
C          59
D          33
E          32
F          13
G           4
T           1
n         687

In [45]:
my_tab = pd.crosstab(index = titanic_train["Sex"], columns = "counts")  # Crosstab
my_tab

col_0   counts
Sex
female     259
male       453

In [46]:
my_tab_perc = my_tab/my_tab.sum()  # Crosstab
my_tab_perc

col_0     counts
Sex
female  0.363764
male    0.636236

In [80]:
  # Create age categories
titanic_train["Age Catergory"] = pd.cut(titanic_train["Age"], bins=[0,12,20,40,60,80], labels=["Child","Teenager","Adult","Middle_Aged","senior"])  # Create age categories
titanic_train["Age Catergory"]

0         Adult
1         Adult
2         Adult
3         Adult
4         Adult
         ...
885       Adult
886       Adult
887    Teenager
889       Adult
890       Adult
Name: Age Catergory, Length: 712, dtype: category
Categories (5, object): ['Child' < 'Teenager' < 'Adult' < 'Middle_Aged' < 'senior']

In [79]:
titanic_train["Age Category"] = [
    "Child"        if age <= 12 else
    "Teenager"     if age <= 20 else
    "Adult"        if age <= 40 else
    "Middle_Aged"  if age <= 60 else
    "Senior"       
    for age in titanic_train["Age"]
]

In [54]:
survived_class = pd.crosstab(index = titanic_train["Survived"], columns = titanic_train["Pclass"], margins = True)  # Crosstab
survived_class.index = ["Not Survived", "Survived", "Total row"]
survived_class.columns = ["class 1", "class 2", "class 3", "Total Col"]
survived_class

              class 1  class 2  class 3  Total Col
Not Survived       64       90      270        424
Survived          120       83       85        288
Total row         184      173      355        712

In [60]:
survived_class_perc = survived_class/ survived_class.loc["Total row","Total Col"]  # Percentage table
survived_class_perc

               class 1   class 2   class 3  Total Col
Not Survived  0.089888  0.126404  0.379213   0.595506
Survived      0.168539  0.116573  0.119382   0.404494
Total row     0.258427  0.242978  0.498596   1.000000

In [70]:
my_tab = pd.crosstab(index = titanic_train["Age Catergory"], columns = "counts")  # Crosstab
my_tab

col_0          counts
Age Catergory
Child              69
Teenager          110
Adult             384
Middle_Aged       128
senior             21

In [81]:
my_tab = pd.pivot_table(
    titanic_train,
    index="Age Catergory",
    columns="Pclass",
    values="PassengerId",   # qualsiasi colonna numerica va bene
    aggfunc="count",
    margins=True
)

my_tab

C:\Users\m-rog\AppData\Local\Temp\ipykernel_36800\798387722.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  my_tab = pd.pivot_table(

Pclass           1    2    3  All
Age Catergory
Child            4   17   48   69
Teenager        17   18   75  110
Adult           88  104  192  384
Middle_Aged     62   31   35  128
senior          13    3    5   21
All            184  173  355  712

In [ ]:
suv_prob_by_class = titanic_train["Pclass"].groupby("Survived").mean()
suv_prob_by_class

KeyError: 'Survived'